shared:
  client:
    name: 'sdc-admin-frontend.vue'
    id: 'idhash'
    secret: 'secrethash'

  api:
    host: http://localhost:3000

  google:
    analytics: ''
  sentry:
    dsn: '' # Sentry Vue DSN


development:
  env:   development
  stage: development


test:
  env:   test
  stage: test


production:
  client:
    name:   'sdc-admin-frontend.vue'
    id:     'idhash'
    secret: 'secrethash'

  api:
    host: https://qa.api.sdc.caiena.net

  env:   production
  stage: production
