$container-width: 1140px;                                // $container-width: 960px !default;
$container-width-larger-than-mobile: $container-width;   // $container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: $container-width;  // $container-width-larger-than-phablet: 80% !default;

$primary-color: $cerulean !default;
$link-color: $cerulean !default;
$font-family: 'Roboto', sans-serif;
